<div class="container">
    <div class="swiper swiper_wide slider slider_wide {{sliderClass}}">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <picture>
                    <source media="(max-width: 768px)" srcset="img/content/test3.jpg">
                    <img class="swiper-slide__image" src="img/content/test1.jpg" alt="">
                </picture>
                <div class="swiper-slide__content">
                    <p class="swiper-slide__title title_1">Экосистема для образования детей и взрослых!</p>
                    <p class="swiper-slide__subtitle subtitle">Растим лидеров с малых лет. Новая модель организационной деятельности в значительной степени обуславливает!</p>
                    <button class="btn btn_square btn_primary _open-popup" data-target-id="{{sliderPopupData}}">Записаться на экскурсию</button>
                </div>
            </div>
            <div class="swiper-slide">
                <picture>
                    <source media="(max-width: 768px)" srcset="img/content/test4.jpg">
                    <img class="swiper-slide__image" src="img/content/test2.jpg" alt="">
                </picture>
                <div class="swiper-slide__content">
                    <p class="swiper-slide__title title_1">Практический опыт показывает, что новая модель организационной деятельности</p>
                    <p class="swiper-slide__subtitle subtitle">Сайты для медучреждений</p>
                    <button class="btn btn_square btn_primary _open-popup" data-target-id="{{sliderPopupData}}">Записаться на экскурсию</button>
                </div>
            </div>
            <div class="swiper-slide">
                <picture>
                    <source media="(max-width: 768px)" srcset="img/content/banner1.jpg">
                    <img class="swiper-slide__image" src="img/content/test3.jpg" alt="">
                </picture>
                <div class="swiper-slide__content">
                    <p class="swiper-slide__title title_1">Дорогие друзья, реализация намеченного плана</p>
                    <p class="swiper-slide__subtitle subtitle">Сайты для медучреждений</p>
                    <button class="btn btn_square btn_primary _open-popup" data-target-id="{{sliderPopupData}}">Записаться на экскурсию</button>
                </div>
            </div>
            <div class="swiper-slide">
                <picture>
                    <source media="(max-width: 768px)" srcset="img/content/test4.jpg">
                    <img class="swiper-slide__image" src="img/content/test.jpg" alt="">
                </picture>
                <div class="swiper-slide__content">
                    <p class="swiper-slide__title title_1">Разнообразный и богатый опыт</p>
                    <p class="swiper-slide__subtitle subtitle">Сайты для медучреждений</p>
                    <button class="btn btn_square btn_primary _open-popup" data-target-id="{{sliderPopupData}}">Записаться на экскурсию</button>
                </div>
            </div>
        </div>
        <div class="swiper-navigation">
            <div class="swiper-pagination"></div>
            <div class="swiper-arrows">
                <button class="swiper-button swiper-button-prev button">
                    <svg class="icon">
                        <use xlink:href="#icon-arrow_s"></use>
                    </svg>
                </button>
                <button class="swiper-button swiper-button-next button">
                    <svg class="icon">
                        <use xlink:href="#icon-arrow_s"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>